.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input[type="file"] {
    display: block;
    margin: 10px 210px;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.success {
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
}

.error {
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: red;
    color: #fff;
}

.alert {
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
}

.input-group input[type="text"] {
    flex: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ced4da;
    width: 450px;
    margin-bottom: 10px;
}

.input-group input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.input-group-append button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 40px;
}

.input-group-append button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.radio-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.radio-buttons label {
    margin-right: 10px;
}

.input-group select {
    width: 94%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 10px;
}

.input-group input[type="text"] {
    width: 90%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 10px;
}

.clear-results-button {
    margin-top: 10px;
}

.phase-query {
    margin-top: 10px;
    margin-bottom: 10px;
}