<div class="container">
    <form (submit)="submitFileUploadForm($event, fileInput)" #fileUploadForm="ngForm">
        <input type="file" #fileInput required>
        <button type="submit">Upload File</button>
    </form>
    <div *ngIf="successMessage" class="alert">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="alert">{{ errorMessage }}</div>
</div>

<div class="container">
    <form (ngSubmit)="submitQuery()" [formGroup]="queryForm">
        <div class="input-group">
            <input type="text" class="form-control" formControlName="query" placeholder="Enter keywords">
        </div>
        <div class="radio-buttons">
            <label class="radio-inline">
                <input type="radio" formControlName="queryType" [value]="'simple'"
                    [checked]="queryForm.controls['queryType'].value === 'simple'"> Simple Search
            </label>
            <label class="radio-inline">
                <input type="radio" formControlName="queryType" [value]="'advanced'"
                    [checked]="queryForm.controls['queryType'].value === 'advanced'"> Advanced Search
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

<div class="container">
    <div class="content">
        <h1>Simple search</h1>
        <form (ngSubmit)="submitSimpleSearch()">
            <div class="input-group">
                <label for="field">Choose field</label>
                <select class="form-control" name="field" id="field" [(ngModel)]="simpleSearchForm.value.field">
                    <option value="firstName">First name</option>
                    <option value="lastName">Last name</option>
                    <option value="governmentName">Government name</option>
                    <option value="administrationLevel">Administration level</option>
                </select>
            </div>
            <div class="input-group">
                <label for="text">Enter value</label>
                <input type="text" class="form-control" name="text" id="text" [(ngModel)]="simpleSearchForm.value.text">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <button (click)="clearResults()" class="clear-results-button">Clear Results</button>
    </div>
</div>

<div class="container" *ngIf="resultsContainerVisible">
    <div class="row" id="results">
        <div class="col-md-6" *ngFor="let result of results">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ result.title }}</h5>
                    <p class="card-text">{{ result.content }}</p>
                    <a [href]="result.downloadLink" class="btn btn-primary"
                        [download]="result.downloadTitle">Download</a>
                </div>
            </div>
        </div>
    </div>
</div>